<!DOCTYPE html>
<html lang="en">
<html th:lang="en-ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peaksoft Moscow</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/peaksoft_logo.jpeg}">
    <link rel="stylesheet" th:href="@{/index.css}"/>
</head>
<body>
<div class="header">
    <div class="navbar">
        <div class="logo_holder">
            <a href="index">
                <img th:src="@{/images/logo.svg}">
            </a>
        </div>
          <ul class="navbar_ul">
            <li class="navbar_li"><a href="company/companies" class="navbar_a">COMPANIES</a></li>
              <br>
            <li class="navbar_li"><a href="user/users" class="navbar_a">USERS</a></li>
              <br>
            <li class="navbar_li"><a href="course/courses" class="navbar_a">COURSES</a></li>
              <br>
            <li class="navbar_li"><a href="group/groups" class="navbar_a">GROUPS</a></li>
              <br>
            <li class="navbar_li"><a href="teacher/teachers" class="navbar_a">TEACHERS</a></li>
              <br>
            <li class="navbar_li"><a href="student/students" class="navbar_a">STUDENTS</a></li>

          </ul>
    </div>
    <div class="name_holder">
        <h1 class="name_holder_h1">PEAK</h1>
        <h1 class="name_holder_h1">SOFT</h1>
    </div>
</div>
<div class="course_holder">
    <div class="course">
        <div>
            <h1>
                <a href="https://peaksoft.house/backend">
                    JAVA-BACKEND
                </a>
            </h1>
            <ul>
                <li>- Duration 9 months</li>
                <li>- JAVA</li>
                <li>- JDBC</li>
                <li>- HIBERNATE</li>
                <li>- Spring BOOT</li>
                <li>- Spring MVC</li>
                <li>- Spring SECURITY</li>
            </ul>
            <div class="course_buttons">
                <button class="course_first_button" onclick="window.location.href = 'https://peaksoft.house'">
                    LEARN MORE
                </button>
                <button class="course_second_button" onclick="window.location.href = 'https://colorlib.com/etc/cs/comingsoon_02/index.html?email=jsdhvfjh%40gmail.com'">
                    TAKE A SHOT
                </button>
            </div>
        </div>
    </div>
    <div class="course2">
        <div>
            <h1>
                <a href="https://peaksoft.house/backend">
                    JAVA-BACKEND
                </a>
            </h1>
            <ul>
                <li>- Duration 9 months</li>
                <li>- JAVA</li>
                <li>- JDBC</li>
                <li>- HIBERNATE</li>
                <li>- Spring BOOT</li>
                <li>- Spring MVC</li>
                <li>- Spring SECURITY</li>
            </ul>
            <div class="course_buttons">
                <button class="course_first_button" onclick="window.location.href = 'https://peaksoft.house'">
                    LEARN MORE
                </button>
                <button class="course_second_button" onclick="window.location.href = 'https://colorlib.com/etc/cs/comingsoon_02/index.html?email=jsdhvfjh%40gmail.com'">
                    TAKE A SHOT
                </button>
            </div>
        </div>
    </div>
    <div class="course">
        <div>
            <h1>
                <a href="https://peaksoft.house/backend">
                    JAVA-BACKEND
                </a>
            </h1>
            <ul>
                <li>- Duration 9 months</li>
                <li>- JAVA</li>
                <li>- JDBC</li>
                <li>- HIBERNATE</li>
                <li>- Spring BOOT</li>
                <li>- Spring MVC</li>
                <li>- Spring SECURITY</li>
            </ul>
            <div class="course_buttons">
                <button class="course_first_button" onclick="window.location.href = 'https://peaksoft.house'">
                    LEARN MORE
                </button>
                <button class="course_second_button" onclick="window.location.href = 'https://colorlib.com/etc/cs/comingsoon_02/index.html?email=jsdhvfjh%40gmail.com'">
                    TAKE A SHOT
                </button>
            </div>
        </div>
    </div>
    <div class="course">
        <div>
            <h1>
                <a href="https://peaksoft.house/backend">
                    JAVA-BACKEND
                </a>
            </h1>
            <ul>
                <li>- Duration 9 months</li>
                <li>- JAVA</li>
                <li>- JDBC</li>
                <li>- HIBERNATE</li>
                <li>- Spring BOOT</li>
                <li>- Spring MVC</li>
                <li>- Spring SECURITY</li>
            </ul>
            <div class="course_buttons">
                <button class="course_first_button" onclick="window.location.href = 'https://peaksoft.house'">
                    LEARN MORE
                </button>
                <button class="course_second_button" onclick="window.location.href = 'https://colorlib.com/etc/cs/comingsoon_02/index.html?email=jsdhvfjh%40gmail.com'">
                    TAKE A SHOT
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    <p>
        Some text,
    </p>
    <p>
        Some text,
    </p>
    <p>
        Some text,
    </p>
    <p>
        Some text,
    </p>
    <p>
        Some text,
    </p>
    <p>
        Some text,
    </p>
</div>
<div class="footer_holder">
    <div class="footer">

    </div>
    <p class="copyright">© Copyright PeakSoft. All Rights Reserved</p>
</div>
</body>
</html>